*
!*.yaml
!.gitignore
!*.sh
!zw*.*
!/*
secrets.yaml
known_devices.yaml
backup_homeassistant.sh
zwcfg_0xc08341af.xml
OZW_Log.txt
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant_v2.db
home-assistant.log
www/custom_ui/
*.conf
nohup.out
get_telegram_chatid.py
